<div class="relative w-full py-2 bg-slate-100">
    <div class="absolute top-0 w-2 h-full bg-emerald-500"></div>
    <div class="flex justify-between">
        <div class="flex items-center ml-5">
            <div class="rounded-md w-9 h-9 bg-slate-600"> </div>
            <div class="mx-2">
                <button mat-button routerLink="/team">Team</button>
                <button mat-button routerLink="./shift">Shift</button>
                <button mat-button routerLink="./member">Member</button>
                <button mat-button routerLink="./shift-work">Works</button>
            </div>
        </div>

        <div>
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle" />Profile
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
        </div>
    </div>
</div>